<ion-item button="true" details="false" lines="full">
  <ion-thumbnail slot="start">
    <ion-img [src]="amiibo.figureUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <ion-label>
      <h4>{{amiibo.name}}</h4>
      <p>{{amiibo.series}}</p>
    </ion-label>
    <ion-label text-wrap *ngIf="expanded">
      <div style="display: inline" [innerHTML]="amiibo.description"></div>
    </ion-label>
  </ion-label>
  <ion-toggle 
    slot="end"
    [formControl]="control"
  >
  </ion-toggle>
</ion-item>
