<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{selectedSeries$ | async}}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="selectSeries()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-amiibos-list 
    [amiibos]="collectedAmiibos$ | async"
    (collectedChanged)="toggleAmiibo($event)"
  >
  </app-amiibos-list>
</ion-content>
<ion-footer>
  <app-progress-toolbar
    [count]="collectedAmiibosCount$ | async"
    [total]="amiibosLength$ | async"
  >
  </app-progress-toolbar>
</ion-footer>
