<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{selectedSeries}}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="selectSeries()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let amiibo of amiibos" lines="full">
      <ion-avatar slot="start">
        <img [src]="amiibo.figureUrl" />
      </ion-avatar>
      <ion-label>
        <h4>{{amiibo.name}}</h4>
        <p>{{amiibo.series}}</p>
      </ion-label>
      <ion-toggle [checked]="isCollected(amiibo.slug)" (ionChange)="toggleAmiibo(amiibo.slug, $event)"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <p>Collected {{getCollectedAmiibosCount()}} out of {{amiibos.length}}</p>
    <ion-progress-bar [color]="getProgress() === 1 ?  'secondary' : 'primary'" [value]="getProgress()"></ion-progress-bar>
  </ion-toolbar>
</ion-footer>
