<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{selectedSeries$ | async}}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="selectSeries()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-amiibos-list [amiibos]="collectedAmiibos$ | async"></app-amiibos-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <p>Collected {{collectedAmiibosCount$ | async}} out of {{amiibosLength$ | async}}</p>
    <ion-progress-bar color="success" [value]="progress$ | async"></ion-progress-bar>
  </ion-toolbar>
</ion-footer>
