<ion-header>
  <ion-toolbar>
    <ion-title>Select a Series</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item lines="full" (click)="select('All Amiibos')">
      <ion-label>All Series</ion-label>
    </ion-item>
    <ion-item *ngFor="let s of series" lines="full" (click)="select(s)">
      <ion-label>{{s}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
