<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{selectedSeries$ | async}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="selectSeries()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-amiibos-list 
    [amiibos]="collectedAmiibos$ | async"
    (collectedChanged)="toggleAmiibo($event)"
  >
  </app-amiibos-list>
</ion-content>
<ion-footer>
  <ng-container *ngIf="progress$ | async as progress; else loadingFooter">
    <app-progress-toolbar
      [count]="progress.collected"
      [total]="progress.total"
    >
    </app-progress-toolbar>
  </ng-container>
  <ng-template #loadingFooter>
    <app-progress-toolbar [count]="0" [total]="0"></app-progress-toolbar>
  </ng-template>
</ion-footer>
