<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{pageTitle$ | async}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="selectSeries()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
      <ion-button aria-label="Sort by" (click)="selectSortField()">
        <ion-icon name="swap-vertical"></ion-icon>
      </ion-button>
      <ng-container *ngIf="selectedSort$ | async as selectedSort">
        <ion-button
          [attr.aria-label]="selectedSort.direction === 'asc' ? 'Sort ascending' : 'Sort descending'"
          (click)="toggleSortDirection()"
        >
          <ion-icon [name]="selectedSort.direction === 'asc' ? 'arrow-up' : 'arrow-down'"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-amiibos-list 
    [amiibos]="collectedAmiibos$ | async"
    (collectedChanged)="toggleAmiibo($event)"
    (amiiboSelected)="openAmiibo($event)"
  >
  </app-amiibos-list>
</ion-content>
<ion-footer>
  <ng-container *ngIf="progress$ | async as progress; else loadingFooter">
    <app-progress-toolbar
      [count]="progress.collected"
      [total]="progress.total"
    >
    </app-progress-toolbar>
  </ng-container>
  <ng-template #loadingFooter>
    <app-progress-toolbar [count]="0" [total]="0"></app-progress-toolbar>
  </ng-template>
</ion-footer>
